.product__container {
  display: flex;
  flex-direction: row;

  margin: 120px auto;
  height: 75vh;
  width: 95%;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}
@media screen and (max-width: 900px) {
  .product__container {
    margin: 90px auto;
    width: 90%;
    height: 65vh;
    padding: 50px;
  }
}

@media screen and (max-width: 600px) {
  .product__container {
    margin: 90px auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .product__container {
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    width: 90%;
    height: auto;
    padding: 10px;
  }
}
