.button {
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  align-self: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra un poco más fuerte al hacer hover */
}
