.infoTool {
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  z-index: 200;
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media screen and (max-width: 800px) {
  .infoTool {
    width: 70%;
    padding: 18px;
  }
}

@media screen and (max-width: 650px) {
  .infoTool {
    width: 70%;
  }
}
