.hotToday__images {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: 100px;
  background-color: aqua;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .hotToday__images {
    display: flex;
    margin: 0px auto 30px;
  }
}
@media screen and (max-width: 800px) {
  .hotToday__images {
    display: flex;
    margin: 0px auto 30px;
  }
}

@media screen and (max-width: 500px) {
  .hotToday__images {
    margin: 0px auto 15px;
  }
}
