.header__title {
  font-family: matter;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  max-width: 600px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 14px;
  word-spacing: 8px;
}

@media screen and (max-width: 800px) {
  .header__title {
    line-height: 40px;
    letter-spacing: 6px;
    word-spacing: 3px;
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .header__title {
    line-height: 30px;
    letter-spacing: 6px;
    word-spacing: 3px;
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    line-height: 22px;
    letter-spacing: 6px;
    word-spacing: 3px;
    font-size: 22px;
  }
}
