.confirmationDialog__buttonsBox {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .confirmationDialog__buttonsBox {
    width: 98%;
  }
}

@media screen and (max-width: 600px) {
  .confirmationDialog__buttonsBox {
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }
}
