.swiper {
  width: 85%;
  height: 500px;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .swiper {
    width: 98%;
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .swiper {
    width: 98%;
    height: 280px;
  }
}
@media screen and (max-width: 600px) {
  .swiper {
    width: 98%;
    height: 180px;
  }
}

@media screen and (max-width: 400px) {
  .swiper {
    width: 98%;
    height: 120px;
  }
}
