.hotToday__data {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin: 60px auto;
  width: 90%;
}

@media screen and (max-width: 800px) {
  .hotToday__data {
    width: 100%;
    display: flex;
    height: auto;
    margin: auto;
    margin: 35px auto;
  }
}

@media screen and (max-width: 600px) {
  .hotToday__data {
    width: 100%;
    display: flex;
    height: auto;
    margin: 30px auto;
  }
}

@media screen and (max-width: 400px) {
  .hotToday__data {
    width: 100%;
    display: flex;
    height: auto;
    margin: 20px auto;
  }
}
