.card__image {
  width: 240px;
  max-height: 380px;
  object-fit: contain;
  align-self: center;
}

@media screen and (max-width: 860px) {
  .card__image {
    max-width: 200px;
    max-height: 250px;
  }
}

@media screen and (max-width: 650px) {
  .card__image {
    max-width: 120px;
    max-height: 180px;
  }
}
@media screen and (max-width: 400px) {
  .card__image {
    max-width: 100px;
    max-height: 160px;
  }
}
