.navBar__logo {
  width: 280px;
  height: 120px;
  object-fit: contain;
}

@media only screen and (max-width: 900px) {
  .navBar__logo {
    width: 200px;
    height: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .navBar__logo {
    width: 100px;
    height: 90px;
  }
}

@media only screen and (max-width: 490px) {
  .navBar__logo {
    width: 65px;
    height: 65px;
  }
}
