.footer__media-icon {
  width: 64px;
  height: 64px;
  align-self: center;
}

@media screen and (min-width: 200px) and (max-width: 490px) {
  .footer__media-icon {
    width: 24px;
    height: 24px;
  }
}
