.card__header {
  font-family: matter;
  font-size: 22px;
  color: black;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .card__header {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .card__header {
    font-size: 14px;
  }
}
