.orderSummary__total {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .orderSummary__total {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .orderSummary__total {
    width: 100%;
  }
}
