.button_type_shop {
  width: 75%;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #b7b5e7;
  box-shadow: 4px 4px 4px #585b56;
  height: 50px;
}

.button_type_submit {
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .button_type_shop {
    margin-bottom: 20px;
    width: 90%;
  }
}
