.product__image {
  display: flex;
  margin: auto;
  height: 380px;
  width: 380px;
}

@media screen and (max-width: 1000px) {
  .product__image {
    height: 280px;
    width: 258px;
  }
}

@media screen and (max-width: 750px) {
  .product__image {
    height: 210px;
    width: 210px;
  }
}

@media screen and (max-width: 550px) {
  .product__image {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .product__image {
    height: 180px;
    width: 180px;
  }
}
