.product__image {
  display: flex;
  margin: auto;
  height: auto;
  width: 95%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .product__image {
    height: 280px;
    width: 258px;
  }
}

@media screen and (max-width: 750px) {
  .product__image {
    height: 210px;
    width: 210px;
    min-height: 195px;
    max-height: 80%;
  }
}

@media screen and (max-width: 550px) {
  .product__image {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .product__image {
    height: 180px;
    width: 180px;
  }
}
