.hotToday__header {
  max-width: 70%;
  color: #007a64;
  font-family: marquisette;
  text-align: center;
  font-size: 70px;
  margin: 30px auto;
}
@media screen and (max-width: 1000px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 56px;
  }
}
@media screen and (max-width: 800px) {
  .hotToday__header {
    max-width: 90%;
    font-size: 40px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .hotToday__header {
    font-size: 30px;
    max-width: 90%;
    margin: 15px auto 25px;
  }
}
